/* 
    Document   : style
    Created on : 2013-9-23, 23:03:55
    Author     : krasi
    Description:
        Purpose of the stylesheet follows.
*/

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 5px;
}
