@{
    ViewBag.Title = "Home Page";  
}
@section TopNews {
    <p>Top news goes here!!</p>
}
<div class="hero-unit">
    <h1>Our Copmpany</h1>
</div>
<div class="row">
    This is main page in our company site!
</div>