@{
    ViewBag.Title = "Jabacalypse";
}
<div id="page">
    <header>
        <h1>Jabacalypse</h1>
        <nav>
            <a href='home/showgame'>To the Game</a>
        </nav>
    </header>
    <div class="intro">
        <p>Малко история с още по-малко поука</p>
        <p>Отива един човек към сградата на Телерик където участвал в конкурса на PC Magazine и Телерик и изведнъж по пътя си среща жаба. Жабата му проговаря: „Вземи ме с тебе, ще ти помогна да спечелиш конкурса“. Той се позамисля но все пак я взима. На конкурса спечелва първо място, след награждаването, пита жабата как да й се отблагодари. Жабата му отговаря: „Наеми стая в хотел. Вземи и бутилка шампанско.“ Човека изпълнява и когато са в стаята пита жабата дали иска още нещо. „А сега ме целуни“ казала жабата. Целунал я и тя се превърнала в красива 17 годишна девойка с прекрасна фигура, и съответно без дрехи, тъй като жабите обикновено не са облечени.</p>
        <p>„Ето така непълнолетното момиче се оказа в стаята на клиента ми“ – завърши пледоарията си адвокатът.</p>
        <p>Поуката е, че човек трябва да използва всички възможности, които съдбата му предоставя.</p>
    </div>
    <footer>
        <div>&copy Krasimir Nikolov & Ognyan Petkov</div>
    </footer>
</div>
